@model System.Collections.Generic.List<string>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
        <meta http-equiv="refresh" content="1;">
    </head>
    <body>
        <div>@foreach (var l in Model)
             {
                 <div>@l</div>
             }
        </div>
    </body>
</html>